body {
  background: black;
  font-size: 20px;
  color: white;
  text-align: center;
}

header {
  padding-top: 3em;
  padding-bottom: 4em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: yellow;
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: 28px;
}

.button {
  height: 100px;
  width: 100px;
  border: .1em solid white;
  padding: 1em;
  background: yellow;
  color: black;
}

.section-one, .section-two {
  border: .1em solid lightblue;
  padding: 2em;
}

.section-two {
  margin-top: 5em;
}
